@import play.api.Play.current

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="@routes.Assets.at("css/app.css")">
  <script>
    @Html(org.webjars.RequireJS.getSetupJavaScript(routes.StaticWebJarAssets.at("").url, current.configuration.getString("contentUrl").orNull))
  </script>
  <script data-main="@routes.Assets.at("js/app")" src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("require.js"))"></script>
</head>
<body>
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>

  <div ng-view></div>

  <div>Angular seed app: v<span app-version></span></div>

</body>
</html>